name: Scheduled 

on:
  workflow_dispatch:
  schedule:
    # 3:31分に実行 3(JST)-9+24=18(UTC)
    - cron: '31 18 * * *'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    env:
      LATEST_HOTEL_URL: ${{ secrets.LATEST_HOTEL_URL }}
      LATEST_RESERVATION_URL: ${{ secrets.LATEST_RESERVATION_URL }}
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: make
        run: |
          deno run -A -r update.deno.ts
      - name: commit and push
        run: |
          git config --global user.email "workflow@example.com"
          git config --global user.name "workflow user"
          git add .
          git commit -m 'update data' && git push ${REPO} HEAD:${{github.event.pull_request.head.ref}} || true
          git push
      - name: Notify Slack on failure
        if: failure()
        run: |
          curl --fail -X POST -H 'Content-type: application/json' \
          --data '{
            "attachments": [
              {
                "color": "#E01E5A",
                "title": "【三方五湖エリア】データ更新に失敗しました。",
                "title_link": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                "text": "GitHub Actionsの実行中にエラーが発生しました。至急ログを確認してください。"
              }
            ]
          }' \
          ${{ secrets.SLACK_WEBHOOK }}
